.navbar{
    padding: 5px 0;
    background-color: white;
}

.navbar-brand {
    box-sizing: border-box;
    background: #4aaaa5;
    color: white !important; 
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: -15px;
 
}

a{      
    text-decoration: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #777777;
    font-size: 14pt;
    margin-left: 25px;
}

.content{
    position: relative;
    clear: none;
    background-color: white;
    width: 960px;
    height: auto;
    padding: 20px;
    margin: 20px auto;
}

.contactEnt{
    position: relative;
    left: 10%;
    clear: none;
    background-color: white;
    width: 600px;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    float: left;
}

.contact{
    position: relative;
    clear: none;
    width: 960px;;
    height: auto;
    padding: 20px;
    margin: 20px auto;
}

.profile{
    float: left;
    margin: 30px;
    max-height: 256px;
}

.card{
    position: relative;
    left: 20%;
    top: 20px;
}
.social{
    float: left;
    margin: 10px 0 10px 10px;
    max-height: 50px;
}

body {
    background-color: gray;
}


h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding: 10px 10px;
    font-size: 24pt;
    font-weight: bold;
}

h3{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding: 10px 10px;
    font-size: 18pt;
    font-weight: bold;
}

p{
    font-size: 24px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 10px;
    padding-top: 10px;
}

.portfoto{
    float: left;
    margin: 30px;
    max-height: 256px;
}


#forms{
    position: relative;
    clear: none;
    background-color: white;
    width: 60%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    float: left;
}

.connect{
    position: relative;
    clear: none;
    background-color: white;
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    float: right;
}


#separator{
    background-color: #777777;
    width: 100%;
    height: 2px;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #ffffff;
    border-top: 20px solid #4aaaa5;
    background: #666666;

}